h1{
    color:#005677;
    background: #C4C4C4; 
    text-align: center;}
h2{
    color:#005677;
    background: #C4C4C4; 
}
h3{
    background:#005677;
    color: #C4C4C4; 
    text-align: center;}

.uno{   
     background: #E6E6E6;
     text-align: center;}
.uno img{
    width: 150px; 
    height: 150px;

}
footer{
    color:#005677;

}

